.icon {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.atag {
  text-decoration: none;
  color: black;
}

.youtube {
  margin-top: 13px;
  max-width: 26px;
  max-height: 20px;
}
