.projectsContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1%;
  padding-top: 5%;
  /*font-family: 'Roboto', sans-serif;*/
}

.projectsContent h1 {
  font-size: 3vh;
  max-width: 90%;
  padding-bottom: 10%;
}
